@{
  Layout = "_Layout";
}

<h1>Add a category</h1>
<p>Add a category here:</p>

<form action="/categories" method="post">
  <input id="categoryName" name="categoryName" placeholder="Category name">
  <button class="btn" type="submit">Add</button>
</form>