@{
  Layout = "_Layout";
}

<h1>Welcome to your Music Organizer!</h1>
<p>This is an interactive application where you can dynamically organize your music by genre!</p>
<br>
<h3>Please follow the nav bar above</h3>
<br>
<p>View Genres will take you to your list of existing music & allow you to edit your selection</p>