<!DOCTYPE html>
<html>
  <head>
    @using MusicOrganizer.Models;
    <meta charset="utf-8">
    <title>Music Organizer</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="Jumbotron">
      @Html.Partial("navBar")
      @RenderBody()
    </div>
  </body>
</html>