<img src="~/img/logo.jpeg" alt="Music Organizer Logo" height="165px" width="165px">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/categories">View existing genre</a></li>
  </ul>