@{
  Layout = "_Layout";
}
@using MusicOrganizer.Models;
<h1>Add a music genre to @Model.Name</h1>

<form action="/categories/@Model.Id/music" method="post">
  <input id="categoryId" name="categoryId" type="hidden" value="@Model.Id">
  <label for="musicDescription">Item Description</label>
  <input id="musicDescription" name="musicDescription" type="text">
  <button class="btn" type='submit'>Add music genre</button>
</form>

@* We list the Category we're adding a music genre to above the form.

We've updated the form's action attribute to /categories/@Model.Id/music so it follows RESTful standards. This means we'll have to update the Create() route that processes this form's submissions, which we'll do soon.

We've added a new input to our form, too: <input id='categoryId' name='categoryId' type='hidden' value='@Model["category"].Id'>. This will pass the Category ID alongside the user's form input to the Create() route that processes this form's submission. However, since its input type is hidden, it won't display anything to the user. *@